# 大模型API管理，其中所需Deepseek的API，KIMI的API, 千问的API KEY
DEEPSEEK_API_KEY= Your Deepseek API KEY
KIMI_API_KEY= Your KIMI API KEY
QWEN_API_KEY= Your QWEN API KEY

# 大模型的URL，所有的已经给出
DEEPSEEK_BASE_URL="https://api.deepseek.com"
KIMI_BASE_URL='https://api.moonshot.cn/v1/chat/completions'
QWEN_BASE_URL='https://dashscope.aliyuncs.com/compatible-mode/v1'
